{% extends "base.html.twig" %}

{% block title %}
	Create a Category
{% endblock %}

{% block body %}
	<h1>Nouvelle Categorie</h1>
	{{ form_start(formView) }}

	<div class="row">
		<div class="col">
			{{ form_row(formView.name) }}
		</div>
	</div>
	{{ form_errors(formView) }}


	<div class="mt-4">

		<button type=" submit" class=" btn btn-success">
			<i class="fas fa-save"></i>
			Créer la category</button>
	</div>

	{{ form_end(formView) }}
{% endblock %}
